
  body { 
    font-size: 1em; 
    font-weight: 300; 
    line-height: 1.5; 
    background-color: rgb(255, 255, 255);
    font-family: "europa", sans-serif;
    overflow-x: hidden;
  }
  
  html, body{
  width:100%;
  overflow-x:hidden;
}
  
  
  p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
  }

.darkmode .card-title{
    color: #BB86FE !important;
}

  .dark-mode .card-body{
    background-color: #242424 !important;
    }

    .dark-mode p, h1, h2, h3, h4, h5, h6{
      color: #BB86FE !important;
      background: transparent;
    }

    p, h1, h2, h3, h4, h5, h6{
      color: #666666;
    }


    @font-face {
      font-family: Montserrat-Regular;
      src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
    }
    
    @font-face {
      font-family: Montserrat-Bold;
      src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
    }
    
    @font-face {
      font-family: Montserrat-ExtraBold;
      src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
    }
    
    @font-face {
      font-family: Montserrat-Medium;
      src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  
    }